html,
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;

  margin: 0;
  padding: 0;
  background-color: rgb(78, 76, 204);
}
.grid {
  display: grid;
  width: 500px;
  height: 500px;
  border: 5px solid goldenrod;
}
button {
  margin-top: 3rem;
  background-color: gold;
  border-radius: 10%;
}

button:hover {
  background-color: black;
  color: goldenrod;
  font-weight: bold;
}
